body {
    background-image: url('../img/background.png');
    background-repeat: repeat;
    padding-top: 70px;
}

/*
Navbar
*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #333;
    padding: 10px 15px;
}

.dropdown-item:hover {
    background-color: #94b6ef;
    color: #fff;
}

/*
Sidebar
*/

.sidebar {
    width: 250px;
    height: 100vh;
    background: #f8f9fa;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.sidebar .menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

.sidebar .menu-item:hover,
.menu-item.active {
    background: #dfffd8; /* Warna hijau muda */
}

.sidebar .menu-item svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin-right: 10px;
}